version: 2.1

orbs:
  rust: circleci/rust@1.6.1

jobs:
  build-linux-arm:
    machine:
      image: ubuntu-2204:2023.07.1
    resource_class: arm.medium
    steps:
    - run:
        name: Install dependencies
        command: |
          sudo apt-get update
          sudo apt-get install unzip liblmdb0 jq alsa-base alsa-source librust-alsa-sys-dev libasound2-dev liblmdb-dev clang cmake ninja-build pkg-config libgtk-3-dev dpkg-dev zip
          sudo apt remove --purge protobuf-compiler
    - run:
        name: Setup Flutter Environment Variables
        command: |
          echo 'export PATH="$PATH:$HOME/flutter/bin:$HOME/protoc/bin:$HOME/.pub-cache/bin:$PATH"' >> "$BASH_ENV"
    - run:
        name: Download Protobuf
        command: |
          curl -L -o ../protoc.zip https://github.com/protocolbuffers/protobuf/releases/download/v28.3/protoc-28.3-linux-aarch_64.zip
          unzip ../protoc.zip -d ../protoc
          whereis protoc
          protoc --version
    - rust/install:
        version: stable
    - run:
        name: Download Flutter
        command: |
          git clone --branch 3.24.4 --depth 1 https://github.com/flutter/flutter.git ../flutter
    - run:
        name: Run Flutter setup
        command: |
          flutter --version
    - run:
        name: Test if Flutter works
        command: |
          flutter doctor
    - checkout
    - run:
        name: Install the Rust dependencies
        command: cargo install "flutter_rust_bridge_codegen" rinf protoc-gen-prost
    - run:
        name: Activate Protobuf
        command: |
          flutter pub global activate protoc_plugin
    - run:
        name: Flutter pub get
        command: flutter pub get
    - run:
        name: Generate message files
        command: rinf message
    - run:
        name: Build linux
        no_output_timeout: 30m
        command: flutter build linux --release --verbose
    - run:
        name: Package artifact
        command: |
          cd build/linux/arm64/release/
          TAG=${CIRCLE_TAG}
          HASH=${CIRCLE_SHA1:0:7}
          zip -r Rune-${TAG}-${HASH}-linux-aarch64.zip bundle/
    - run:
        name: Upload to GitHub Release
        command: |
          TAG=${CIRCLE_TAG}
          HASH=${CIRCLE_SHA1:0:7}
          ARTIFACT="build/linux/arm64/release/Rune-${TAG}-${HASH}-linux-aarch64.zip"
          
          # GitHub CLI installation
          curl -fsSL https://cli.github.com/packages/githubcli-archive-keyring.gpg | sudo dd of=/usr/share/keyrings/githubcli-archive-keyring.gpg
          echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main" | sudo tee /etc/apt/sources.list.d/github-cli.list > /dev/null
          sudo apt update
          sudo apt install gh
          
          # Upload to GitHub release
          gh release upload ${TAG} ${ARTIFACT} --clobber

  build-android:
    docker:
      - image: cimg/base:current
        
    steps:
      - checkout
      
      - run:
          name: Fetch complete history
          command: |
            git fetch --unshallow || true

      - run:
          name: Get commit hash
          command: |
            echo 'export COMMIT_HASH=$(git rev-parse --short HEAD)' >> $BASH_ENV
            
      - run:
          name: Install Nix
          command: |
            # Install Nix
            curl -L https://nixos.org/nix/install | sh
            
            # Source nix
            . $HOME/.nix-profile/etc/profile.d/nix.sh
            
            # Add Nix binary directory to PATH
            export PATH=$HOME/.nix-profile/bin:$PATH
            
            echo ". $HOME/.nix-profile/etc/profile.d/nix.sh" >> $BASH_ENV
            echo "export PATH=$HOME/.nix-profile/bin:\$PATH" >> $BASH_ENV
            
            # Source the updated environment
            source $BASH_ENV
            
            # Verify installation
            which nix
            nix --version
            
      - run:
          name: Setup OpenSSL
          command: |
            bash -c './android/setup-openssl.sh'

      - run:
          name: Disable Flutter analytics
          command: |
            nix --extra-experimental-features "nix-command flakes" develop . --command flutter config --no-analytics

      - run:
          name: Get Flutter packages
          command: |
            nix --extra-experimental-features "nix-command flakes" develop . --command flutter pub get

      - run:
          name: Generating Rinf files
          command: |
            nix --extra-experimental-features "nix-command flakes" develop . --command flutter pub run rinf message
            
      - run:
          name: Build APKs
          command: |
            nix --extra-experimental-features "nix-command flakes" develop . --command bash ./android/build.sh

      - run:
          name: Prepare artifacts
          command: |
            TAG=${CIRCLE_TAG}
            mkdir dist
            cd build/app/outputs/flutter-apk/
            cp app-armeabi-v7a-release.apk ../../../../dist/Rune-${TAG}-${CIRCLE_SHA1:0:7}-android-armv7.apk
            cp app-arm64-v8a-release.apk ../../../../dist/Rune-${TAG}-${CIRCLE_SHA1:0:7}-android-arm64.apk
            cp app-x86_64-release.apk  ../../../../dist/Rune-${TAG}-${CIRCLE_SHA1:0:7}-android-x64.apk

      - run:
          name: Upload to GitHub Release
          command: |
            TAG=${CIRCLE_TAG}
        
            # Download and install GitHub CLI
            curl -L "https://github.com/cli/cli/releases/download/v2.60.1/gh_2.60.1_linux_amd64.tar.gz" | tar xz
            sudo mv gh_2.60.1_linux_amd64/bin/gh /usr/local/bin/
            
            # Verify installation
            gh --version
            
            # Upload to GitHub release
            gh release upload ${TAG} "dist/Rune-${TAG}-${CIRCLE_SHA1:0:7}-android-armv7.apk" --clobber
            gh release upload ${TAG} "dist/Rune-${TAG}-${CIRCLE_SHA1:0:7}-android-arm64.apk" --clobber
            gh release upload ${TAG} "dist/Rune-${TAG}-${CIRCLE_SHA1:0:7}-android-x64.apk" --clobber

workflows:
  version: 2
  build:
    jobs:
      - build-linux-arm:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
      - build-android:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/